@charset "UTF-8";
/* BEM support Func
 -------------------------- */
/* 阔地互动课堂子平台默认主题 */
/* Transition
-------------------------- */
/* Codyy Color
------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* 阔地互动课堂子平台默认主题 */
/* Transition
-------------------------- */
/* Codyy Color
------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
.el-tag {
  background-color: #ebf2ff;
  border-color: #d6e5ff;
  color: #347eff;
  display: inline-block;
  height: 32px;
  padding: 0 10px;
  line-height: 30px;
  font-size: 12px;
  color: #347EFF;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap; }
  .el-tag.is-hit {
    border-color: #347EFF; }
  .el-tag .el-tag__close {
    color: #347eff; }
    .el-tag .el-tag__close:hover {
      color: #FFFFFF;
      background-color: #347eff; }
  .el-tag.el-tag--info {
    background-color: #f4f6f8;
    border-color: #e8edf1;
    color: #8da7b8;
  }
    .el-tag.el-tag--info.is-hit {
      border-color: #8da7b8;
    }
    .el-tag.el-tag--info .el-tag__close {
      color: #8da7b8;
    }
      .el-tag.el-tag--info .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #8da7b8;
      }
  .el-tag.el-tag--success {
    background-color: #ebf8f2;
    border-color: #d7f2e4;
    color: #39bd78;
  }
    .el-tag.el-tag--success.is-hit {
      border-color: #39bd78;
    }
    .el-tag.el-tag--success .el-tag__close {
      color: #39bd78;
    }
      .el-tag.el-tag--success .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #39bd78;
      }
  .el-tag.el-tag--warning {
    background-color: #fdf6ec;
    border-color: #faecd8;
    color: #e6a23c; }
    .el-tag.el-tag--warning.is-hit {
      border-color: #E6A23C; }
    .el-tag.el-tag--warning .el-tag__close {
      color: #e6a23c; }
      .el-tag.el-tag--warning .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #e6a23c; }
  .el-tag.el-tag--danger {
    background-color: #fbf2f2;
    border-color: #f7e5e5;
    color: #d77b7b;
  }
    .el-tag.el-tag--danger.is-hit {
      border-color: #d77b7b;
    }
    .el-tag.el-tag--danger .el-tag__close {
      color: #d77b7b;
    }
      .el-tag.el-tag--danger .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #d77b7b;
      }
  .el-tag .el-icon-close {
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    vertical-align: middle;
    top: -1px;
    right: -5px; }
    .el-tag .el-icon-close::before {
      display: block; }
  .el-tag--dark {
    background-color: #347eff;
    border-color: #347eff;
    color: white; }
    .el-tag--dark.is-hit {
      border-color: #347EFF; }
    .el-tag--dark .el-tag__close {
      color: white; }
      .el-tag--dark .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #5d98ff; }
    .el-tag--dark.el-tag--info {
      background-color: #8da7b8;
      border-color: #8da7b8;
      color: white; }
      .el-tag--dark.el-tag--info.is-hit {
        border-color: #8da7b8;
      }
      .el-tag--dark.el-tag--info .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--info .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #a4b9c6;
        }
    .el-tag--dark.el-tag--success {
      background-color: #39bd78;
      border-color: #39bd78;
      color: white; }
      .el-tag--dark.el-tag--success.is-hit {
        border-color: #39bd78;
      }
      .el-tag--dark.el-tag--success .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--success .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #61ca93;
        }
    .el-tag--dark.el-tag--warning {
      background-color: #e6a23c;
      border-color: #e6a23c;
      color: white; }
      .el-tag--dark.el-tag--warning.is-hit {
        border-color: #E6A23C; }
      .el-tag--dark.el-tag--warning .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--warning .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #ebb563; }
    .el-tag--dark.el-tag--danger {
      background-color: #d77b7b;
      border-color: #d77b7b;
      color: white; }
      .el-tag--dark.el-tag--danger.is-hit {
        border-color: #d77b7b;
      }
      .el-tag--dark.el-tag--danger .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--danger .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #df9595;
        }
  .el-tag--plain {
    background-color: white;
    border-color: #aecbff;
    color: #347eff; }
    .el-tag--plain.is-hit {
      border-color: #347EFF; }
    .el-tag--plain .el-tag__close {
      color: #347eff; }
      .el-tag--plain .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #347eff; }
    .el-tag--plain.el-tag--info {
      background-color: white;
      border-color: #d1dce3;
      color: #8da7b8;
    }
      .el-tag--plain.el-tag--info.is-hit {
        border-color: #8da7b8;
      }
      .el-tag--plain.el-tag--info .el-tag__close {
        color: #8da7b8;
      }
        .el-tag--plain.el-tag--info .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #8da7b8;
        }
    .el-tag--plain.el-tag--success {
      background-color: white;
      border-color: #b0e5c9;
      color: #39bd78;
    }
      .el-tag--plain.el-tag--success.is-hit {
        border-color: #39bd78;
      }
      .el-tag--plain.el-tag--success .el-tag__close {
        color: #39bd78;
      }
        .el-tag--plain.el-tag--success .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #39bd78;
        }
    .el-tag--plain.el-tag--warning {
      background-color: white;
      border-color: #f5dab1;
      color: #e6a23c; }
      .el-tag--plain.el-tag--warning.is-hit {
        border-color: #E6A23C; }
      .el-tag--plain.el-tag--warning .el-tag__close {
        color: #e6a23c; }
        .el-tag--plain.el-tag--warning .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #e6a23c; }
    .el-tag--plain.el-tag--danger {
      background-color: white;
      border-color: #efcaca;
      color: #d77b7b;
    }
      .el-tag--plain.el-tag--danger.is-hit {
        border-color: #d77b7b;
      }
      .el-tag--plain.el-tag--danger .el-tag__close {
        color: #d77b7b;
      }
        .el-tag--plain.el-tag--danger .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #d77b7b;
        }
  .el-tag--medium {
    height: 28px;
    line-height: 26px; }
    .el-tag--medium .el-icon-close {
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }
  .el-tag--small {
    height: 24px;
    padding: 0 8px;
    line-height: 22px; }
    .el-tag--small .el-icon-close {
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }
  .el-tag--mini {
    height: 20px;
    padding: 0 5px;
    line-height: 19px; }
    .el-tag--mini .el-icon-close {
      margin-left: -3px;
      -webkit-transform: scale(0.7);
      transform: scale(0.7); }
