.hone-config {
  .title-p {
    /deep/ span.font-small {
      float: left;
      display: inline-block;
      font-size: 10px;
      margin-right: 5px;
    }

    font-size: 16px;
    color: #333;
    height: 28px;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .checked-area {
    margin-bottom: 20px;
  }

  p.color-disable {
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .map-area {
    display: flex;
    justify-content: center;
    height: 100px;
    text-align: center;
    border: 1px dashed #ddd;
    line-height: 100px;
    margin-bottom: 50px;
    color: #999;

    img {
      padding: 18px 0;
      margin-right: 10px;
      display: inline-block;
    }
  }

  .drag-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .active {
      border: 1px dashed #327AFF;
    }
    .drag-item {
      width: 176px;
      height: 100px;
      position: relative;
      background-color: #ddd;

      img {
        width: 100%;
        height: 100%;
      }

      .layer-edit {
        text-align: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        background-color: rgba(0, 0, 0, 0.6);
        display: none;

        .is-round {
          margin-top: 36px;
        }
      }

      &:hover .layer-edit {
        display: block;
      }

      .layer-add {
        text-align: center;
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        color: #999;

        .el-icon-custom-add {
          font-size: 34px;
          margin-top: 20px;
          margin-bottom: 10px;
          color: #acacac;
        }

        &:hover {
          color: #666;

          .el-icon-custom-add {
            color: #999;
          }
        }
      }
    }
  }

  .drag-area-teacher {
    .drag-item {
      width: 146px;
      height: 146px;

      .teacher-info {
        padding: 4px 0;
        position: absolute;
        bottom: 0px;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        color: #fff;
        text-align: center;
        line-height: 1.4;
        font-size: 12px;
      }

      .layer-edit {
        .is-round {
          margin-top: 59px;
        }
      }

      .layer-add {
        .el-icon-custom-add {
          margin-top: 42px;
        }
      }
    }
  }
}
